<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


	<bean class="com.newgen.beans.Student" id="studentId1">
		<property name="id" value="111" />
		<property name="name" value="Prathamesh" />
	</bean>

	<bean class="com.newgen.beans.Student" id="studentId2">
		<property name="id" value="222" />
		<property name="name" value="Sanket" />
	</bean>
	
</beans>